*{
    margin: 0px;
    padding: 0px;
    
    
}


body{
    display: flex;
}
.page-content h1,h2{
    font-family: 'Linux Libertine','Georgia','Times',serif;
}

.page-content {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    
    font-family: Century Gothic;
    font-weight:400;
    font-size: 18px;
    text-align: justify;
    width: calc(100% - 128px);
    height: 100%;
    
    align-items: center;
    /*display: flex;*/
    display: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: auto;
    margin-left: 128px;
    margin-right: 50px;
    /*margin-top: 40px;*/
  }
  
.img-center{
      display: block;
      margin: auto;
    }
.img-ecuacion {
    display: flex;
    margin: 0;
}
  
.page-content h1{
      text-align: center;
  }

.marcaDeAgua {
    position: fixed;
    margin-left: 87%;
    margin-top: 1%;
    margin-right: 1%;
    width: 12%;
    opacity: 0.3;
}

.listOfLinks {
    margin: 10px 10px 10px 100px;
}


.creator img{
    display: block;
    margin: auto;
    width: 200px;
    border-radius:50%;
}

.contact-links a i{
    height: 50px;
    min-width: 30px;
    text-align: center;
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
.contact-links{
    width: 30%;
    align-items: center;
    text-align: center;
    margin: auto;
}

.equation{
    display: flex;
}

.ref{
    font-size: 70%;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0px;
    word-spacing: -8px;
    
}

a:link, a:visited, a:active {
    text-decoration:none;
}


.bibliografia li{
    list-style-type:decimal;
    font-family: 'Linux Libertine','Georgia','Times',serif;
}

.doblecolumn {
    display: flex;

}
.doblecolumn div{
    width: 45%;
    margin:auto;
    margin-top: 0;
    margin-right: 5%;
}

@media (max-width: 800px) {

    .doblecolumn {
        display: block;
    }
    .doblecolumn div{
        width: 100%;
        margin:auto;
    }
    .page-content {
        font-family: Century Gothic;
        width: calc(100% - 180px)
      }
    
 img {
    margin: auto;
    
    }

    
  }

  .listas ul{
    margin-left: 0;
    padding-left: 40px;
  }