*{
    margin: 0px;
    padding: 0px;
}


body{
    display: flex;
}

.page-content {
    
    width: 100%;
    height: 100%;
    
    align-items: center;
    /*display: flex;*/
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: auto;
    margin-left: 93px;
    margin-right: 15px;
    /*margin-top: 40px;*/
  }
  
.page-content img{
      display: block;
      margin: auto;
    }
  
.page-content h1{
      text-align: center;
  }

.marcaDeAgua {
    position: fixed;
    margin-left: 87%;
    margin-top: 1%;
    margin-right: 1%;
    width: 12%;
    opacity: 0.3;
}

.listOfLinks {
    margin: 10px 10px 10px 100px;
}