<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>
    <header>
        <center>
            <img src="../img/physicsLogo.png" width="30%">
        </center>
    </header>



    <aside id="lateral">
        <center>
            <h2>Menú</h2>
        </center>


        <nav class="nav nav-pills flex-column flex-sm-row">
            <ul>
                <li><a href="home.html"><strong>Inicio</strong> </a></li>
                <li><a href="#">Temas</a></li>
                <li><a href="#">Mecánica Cuántica</a></li>
                <li><a href="#">Mecánica Clásica</a></li>
                <li><a href="#">Álgebra</a></li>
            </ul>
        </nav>

    </aside>

    <section id="contenido">
        <div id="blogs">
           <p>Aquí va el contenido</p>
        </div>
    </section>


    <footer id="pie">Todos los derechos reservados &#169 F. Briceno</footer>

</body>
</html>