<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT--> 
<!-- Created by CodingLab https://www.codinglabweb.com/2021/06/dropdown-sidebar-menu-html-css.html-->
<!-- https://boxicons.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="./css/menu.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- MathJax https://www.mathjax.org/#gettingstarted -->
      <!-- https://www.youtube.com/watch?v=SUv6Uaggvhc -->

     </head>
<body>
  <div class="sidebar close">

    <div class="logo-details">
        <div class="gato_estirado">
            <img class='bx bxl-c-plus-plus'  src="./img/logo/physicsLogoGatoBlanco.png" style="margin: 14px;">

        </div>
        <div class="gato_sentado">
            <img class='bx bxl-c-plus-plus'  src="./img/logo/gatoSentadoBlanco.png" style="margin: 14px;">
        </div>
      <img class='logo_name'  src="./img/logo/physicsLogoTextoBlanco.png" style="margin: -7px;">
    </div>


    <ul class="nav-links">
        <!-- HOME -->
      <li>
        <a href="./">
            <i class='bx bxs-home'></i>
            <span class="link_name">Home</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="./">Home</a></li>
        </ul>
      </li>
      <!-- ESCOLAR -->
      <li>
        <div class="iocn-link">
          <a href="./content.html?/recursoEscolar">
            <i class='bx bx-book-reader'></i>
            <span class="link_name">Recurso Escolar</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="./content.html?/recursoEscolar">Recurso Escolar</a></li>
          
          <li><a href="./content.html?/construccion">Matemática elemental</a></li>
          <li><a href="./content.html?/construccion">Vectores</a></li>
          <li><a href="./content.html?/construccion">Movimiento Rectilineo</a></li>
          <li><a href="./content.html?/construccion">Movimiento Circular</a></li>
          <li><a href="./content.html?/construccion">Movimiento Periodico</a></li>
          <li><a href="./content.html?/construccion">Caida Libre</a></li>
          <li><a href="./content.html?/construccion">Newton</a></li>
          <li><a href="./content.html?/construccion">Fuerza Elástica</a></li>
          <li><a href="./content.html?/construccion">Ondas</a></li>
          <li><a href="./content.html?/construccion">Óptica</a></li>
          <li><a href="./content.html?/recursoEscolar/gravitacion">Gravitación</a></li>
          <li><a href="./content.html?/construccion">Electromagnetismo</a></li>
          <li><a href="./content.html?/construccion">Relatividad</a></li>
        </ul>
      </li>
      <!-- UNIVERSITARIA -->
      <li>
        <div class="iocn-link">
          <a href="./content.html?/recursoUniversitario">
            <i class='bx bxs-graduation' ></i>
            <span class="link_name">Recurso Universitario</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="./content.html?/recursoUniversitario">Recurso Universitario</a></li>
          <!-- 
          <li><a href="./content.html?/construccion">Precalculo</a></li>
          <li><a href="./content.html?/construccion">Cálculo</a></li>
          <li><a href="./content.html?/construccion">Cálculo Integral</a></li>
          <li><a href="./content.html?/construccion">Cálculo Diferencial</a></li>
          <li><a href="./content.html?/construccion">Algebra Lineal</a></li>-->
          <li><a href="./content.html?/construccion">Métodos Matemáticos</a></li>
          <!-- <li><a href="./content.html?/construccion">Métodos Numéricos</a></li>
          <li><a href="./content.html?/construccion">Mecánica</a></li>
          <li><a href="./content.html?/construccion">Ondas y pepitas</a></li>
          <li><a href="./content.html?/construccion">Termodinámica</a></li>
          <li><a href="./content.html?/construccion">Electromagnetismo</a></li>-->
          <li><a href="./content.html?/recursoUniversitario/mecanicaClasica">Mecánica Clásica</a></li>
          <!-- <li><a href="./content.html?/construccion">Física Moderna</a></li>-->
          <li><a href="./content.html?/construccion">Mecánica Cuántica</a></li>
          <!-- <li><a href="./content.html?/construccion">Estado Sólido</a></li>-->
        </ul>
      </li>
      <!-- UNIVERSITARIA -->
      <li>
        <a href="#">
          <i class='bx bxs-book-bookmark'></i> <!--<i class='bx bx-library'></i>-->
          <span class="link_name">Bibliografía</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Bibliografía</a></li>
        </ul>
      </li>

      <li>
        <a href="./content.html?/contacto">
            <i class='bx bxs-contact'></i> <!--<i class='bx bx-user-voice'></i> <i class='bx bxs-user-voice' ></i> <i class='bx bxs-face'></i> <i class='bx bxs-user-circle' ></i>-->
          <span class="link_name">Contacto</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="./content.html?/contacto">Contacto</a></li>
        </ul>
      </li>
      
  </li>
</ul>
  </div>

  <section class="home-section">
    <div class="home-content">
        <i class='bx bxs-chevron-right'></i>
        <i class='bx bxs-chevron-left' ></i>
        
    </div>
  </section>

  <script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e)=>{
    let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
    arrowParent.classList.toggle("showMenu");
      });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarOpen = document.querySelector(".bxs-chevron-right");
    let sidebarClose = document.querySelector(".bxs-chevron-left");
    console.log(sidebarOpen);
    sidebarOpen.addEventListener("click", ()=>{
      sidebar.classList.toggle("close");
    });
    console.log(sidebarClose);
    sidebarClose.addEventListener("click", ()=>{
      sidebar.classList.toggle("close");
    });
  </script>



  
</body>
</html>
