<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravitación</title>
    <meta name="description" content="Aprende todos los conceptos de gravitación para tu curso de física, como la gravedad, fuerza de atracción, ley de la gravedad, movimiento circular, leyes de Kepler y más,">
    <meta name="keywords" content="física, fuerza, Newton, Kepler, atracción, gravitacional, movimiento, circular, trabajo, energía.">
</head>
<body>


    <h1>Gavitación</h1><br>
    
    <p>A continuación os dejo un resumen de las ecuacines más usadas en gravitación.</p>
    <br><br>

    <h2>Movimiento Circular</h2>
    <img src="./img/contenido/gravitacion/movimientoCircular.jpg" style="width: 300px;"  alt="Ecuaciones de movimiento circular.">

    <h2>Atracción Gravitcional</h2>
    <img src="./img/contenido/gravitacion/atraccionGravitacional.jpg" style="width: 300px;"  alt="Ecuaciones de la ley de atracción gravitacional y fuerza de atracción.">

    <h2>Leyes de Kepler</h2>
    <img src="./img/contenido/gravitacion/leyesKepler.jpg" style="width: 300px;" alt="Ecuaciones de leyes de Kepler">

    <h2>Energía Gravitcionel</h2>
    <img src="./img/contenido/gravitacion/energiaGravitacional.jpg" style="width: 300px;"  alt="Ecuaciones de energia gravitacional y trabajo">

    <p>En resumen, estas son las ecuaciones de gravitación más usadas:</p>

    <img src="./img/contenido/gravitacion/ecuacionesGravitacion.jpg" style="width: 400px;"  alt="Ecuaciones de gravitación más usadas.">
    <br><br>


    
</body>
</html>