<h1 id="coordenadasgeneralizadas">Coordenadas Generalizadas</h1>
<br>

<img src="./img/contenido/clasica/curva.PNG"  style="width: 200px;" class="img-center">
<br>

<p> Para describir el movimiento de un cuerpo, considerado generalmente como una masa puntual (sus dimensiones se pueden despreciar), a menos que se diga lo contrario, es necesario conocer el vector posición de ese cuerpo $\vec{ \mathbf{r} } = r \: \: \mathbf{\hat{r}}$.</p>

<br>

<p>Es común describir a $\vec{\mathbf{r}}$ en las coordenadas cartesianas $x,y,z$ , pero puede describirse igual de bien en coordenadas polares $\rho ,\varphi ,z$, o en coordenadas esféricas $r ,\theta  ,\phi $.</p>

<br>

<p>Sabemos que las coordenadas $x,y,z$ dependen de $t$ de la forma $x=x(t),y=y(t),z=z(t)$, por lo que $\vec{\mathbf{r}}$ también va a depender de $t$, pero no de forma explícita, sino implícita, entonces $t$ no se considera una coordenada sino un parámetro: $$\vec{\mathbf{r}} = \vec{\mathbf{r}}(x,y,z\: ;\: t)$$.</p>

<br>
<img src="./img/contenido/clasica/particulas.PNG"  style="width: 300px;" class="img-center">
<br>

<h2>Espacio afin</h2>
<br>
<p>Para definir un <b>espacio afin</b> debemos hablar en primer lugar de un espacio puntual que denotaremos $\wp$, este es un tipo de espacio cuyos elementos contenidos en él son puntos, si podemos asociar un espacio vectorial $Vn$ de $n$ dimensiones a nuestro espacio puntual $\wp$, entonces $\wp_n$ es el espacio puntual a fin, asociado a $Vn$. La forma de asociar estos dos espacios es mediante una operación de mapeo, que le asigna a cada par de elementos $(A,B)$ con  $A, B \in \wp $  un vector en $V_n$ que corresponde al vector dirigido desde el punto $A$ hasta $B$, $\overrightarrow{AB}$, ;  dicho de otra manera un mapeo</p>

<p>$$\wp \times \wp \rightarrow Vn$$</p>

<p >También esta asignación debe tener las siguientes propiedades:</p>
<br>
<div class="listas">
    <ul >
        <li>$\overrightarrow{AB} = -\overrightarrow{BA}$</li>
        <li>$\overrightarrow{AB} = \overrightarrow{AC}  +\overrightarrow{CB}$</li>
        <li>Para un punto $O \in \wp$ arbitrario, y para cada vector $\vec{a} \in V_n$ corresponde un solo punto $A \in \wp$ de forma que $\overrightarrow{OA} = \vec{a} $</li>
    </ul>
</div>
<br>
<p>Si se cumplen las tres condiciones anteriores podemos decir que constituye un espacio puntual a fin de $n$ dimensiones, y será real o complejo según el conjunto sobre el cuál está definido el espacio vectorian $V_n$ <a href="#ref1" class="ref">(Lichnerowicz, 1968, p. 41-42)</a></p>



<br><br><br>
<div class="bibliografia">
    <h2>Referencias</h2>
    <br>
    <ul>
        <li id="ref1"><a href="https://dlscrib.com/download/elementos-de-c-aacute-lculo-tensorial-a-lichnerowicz-pdf-pdf_59063b69dc0d600057959e77_pdf">A. Lichnerowicz (1968) <span style="font-style: italic;">Elementos de cálculo tensorial.</span>, Tercera edición.</a></li>
        <br>
           

    </ul>

</div>
<br><br>