<h1>Mecánica cuántica Primitiva</h1>

<br><br>
<p>Para ver nacer a la mecánica cuántica fue necesario abandonar el arraigo a muchas ideas viejas sobre la concepción de la materia y la energía, a demás de cambiar principios bien establecidos para la la época. Hubo que convencerse de la existencia de un mundo microscópico, que planteaba una nueva realidad física para la estructura inerna de la materia, su estructura atómica; se debió dejarle a Newton solo el mundo macroscópico, pero dejarlo atrás en el mundo microscópico, pues la mecánica newtoniana no puede ser aplicada en el estudio del átomo; también la electrodinámica de Maxwel debió cuestionarse, para conocer la verdadera interacción entre los átomos y el campo de radiación; así como muchas otras reformulaciones establecidas por el modelo clásico.</p>
<br>
<h2>Radiación de cuerpo negro.</h2>
<br>
<p>Un cuerpo negro es un objeto absorve toda la radiación que recibe. Si se encuentra en equilibrio térmico y si se abre un pequeño orificio podrá su vez emitir por allí una radiación característica que depende de la temperatura de equilibrio del cuerpo negro. </p>
<br>
<img src="./img/contenido/mecanicaCuantica/cuerpoNegro.jpeg" style="width: 300px;"  alt="Ecuaciones de movimiento circular." class="img-center">
<br>

<p>La potencia radiada de un cuerpo negro es proporcional a $T^4$, esto se supo gracias a que en 1897 el físico austriaco Josef Stefan, enontró experimentalmente la potencia total emitida por unidad de area para todas las frecuencias $u _A= \int _{0}^{\infty } u _f df = \sigma T^4$ <a href="#ref1" class="ref">(p.69, A. Serway)</a> donde $\sigma =5,67 \times  10^{-8}\frac{W}{m^2K^4}$ es la constante de Stefan-Boltzmann. Este hecho experimental fue confirmado solo cinco años después por el físico austriaco Ludwig E. Boltzman teóricamente, quien lo dedujo de la termodinámica y las ecuaciones de Maxwel, por lo que hoy es conocida como la ley de Stefan-Boltzmann. </p>

<br>

<p>En la concepción de la teoría electromagnética de Maxwel, la expresión $\int _{vol} (\frac{\epsilon E^2}{2}+\frac{\mu  H^2}{2})dv$ es la energia total almacenada en los campos magnéticos y eléctricos <a href="#ref1" class="ref">(p.395-396, H. Hayt)</a>, sabemos que $B=\mu H$ entonces $U = \int _{vol} (\frac{\epsilon E^2}{2}+\frac{  B^2}{\mu2})dv$  de esta manera obtenemos una expresión para la energía almacenada por unidad de volumen $\frac{dU}{dv}= u = \frac{\epsilon E^2}{2}+\frac{  B^2}{\mu 2}$. Podemos ver así que la energía de una onda puede ser proporcional a la intensidad del campo eléctrico y magnético.  </p>


<!--120,331-->

<br><br><br>
<div class="bibliografia">
    <h2>Referencias</h2>
    <br>
    <ul>
        <li id="ref1"><a href="#">H. Hayt William; Teoría electromagnética. 2nd Edicion en español, McGraw-Hill, México, 1991.</a></li>
        <br>
        <li id="ref2"><a href="#">A. Serway, J.Moses, A. Moyer;  Física Moderna. 3nd Edicion..., 1991.</a></li>
        <br>
        <li id="ref3"><a href="#">F. Reif, Fundamentos de física estadistica y térmica. Ed. del Castillo, S.A, Madrid, 1968.</a></li>
        <br>
        <li id="ref4"><a href="#">F. Reif, Fundamentos de física estadistica y térmica. Ed. del Castillo, S.A, Madrid, 1968.</a></li>
        <br>
        <li id="ref5"><a href="#">David K. Cheng, Fundamentos de electromagnetismo para ingeniería. Ed. Addison W. Iberoamericana de México, 1998</a></li>
    </ul>

</div>

