<h1 id="coordenadasgeneralizadas">Coordenadas Generalizadas</h1>
<br>

<img src="./img/contenido/clasica/curva.PNG"  style="width: 200px;" class="img-center">
<br><br>

<p> Para describir el movimiento de un cuerpo, considerado generalmente como una masa puntual (sus dimensiones se pueden despreciar), a menos que se diga lo contrario, es necesario conocer el vector posición de ese cuerpo <img src="https://latex.codecogs.com/svg.image?\vec{\mathbf{r}} = r \: \: \mathbf{\hat{r}}" />.</p>

<br>

<p>Es común describir a <img src="https://latex.codecogs.com/svg.image?\vec{\mathbf{r}}" /> en las coordenadas cartesianas <img src="https://latex.codecogs.com/svg.image?(x,y,z)" />, pero puede describirse igual de bien en coordenadas polares <img src="https://latex.codecogs.com/svg.image?(\rho ,\varphi ,z)"/>, o en coordenadas esféricas <img src="https://latex.codecogs.com/svg.image?(r ,\theta  ,\phi )" />.</p>

<br>

<p>Sabemos que las coordenadas <img src="https://latex.codecogs.com/svg.image?x,y,z" /> dependen de <img src="https://latex.codecogs.com/svg.image?t" /> de la forma <img src="https://latex.codecogs.com/svg.image?x=x(t),y=y(t),z=z(t)" />, por lo que <img src="https://latex.codecogs.com/svg.image?\vec{\mathbf{r}}" /> también va a depender de <img src="https://latex.codecogs.com/svg.image?t" />, pero no de forma explícita, sino implícita, entonces <img src="https://latex.codecogs.com/svg.image?t" /> no se considera una coordenada sino un parámetro y <img src="https://latex.codecogs.com/svg.image?\vec{\mathbf{r}} = \vec{\mathbf{r}}(x,y,z;t)" />.</p>

<br><br>
<img src="./img/contenido/clasica/particulas.PNG"  style="width: 300px;" class="img-center">
<br><br>