<div class="creator">
    <img src="./img/contact/creator.jpg" >
    
    <h1 style="align-items: center; margin:15px; text-align: center;">Fernando Briceño</h1>
    <div style="align-items: center; margin:15px; text-align: center;">
    <p style="width: 80%; text-align: center;margin:auto;">Estudiante de Física de La Universidad Industrial de Santander, Colombia.</p>
    <br>
        <div class="contact-links">
            <!--
            <a href="#"><i class='bx bxl-facebook-square'></i></a>
            <a href="https://github.com/FernandoBriceno"><i class='bx bxl-github'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-youtube'></i></a>
            <a href="#"><i class='bx bxl-whatsapp'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
            <a href="#"><i class='bx bxl-telegram'></i></a>
            <a href="mailto:luis.briceno@correo.uis.edu.co"><i class='bx bx-mail-send'></i></a>
            -->
            <a href="https://github.com/FernandoBriceno"><i class='bx bxl-github'></i></a>
            <a href="https://www.instagram.com/physicsprojectorg/"><i class='bx bxl-instagram'></i></a>
            <a href="mailto:luis.briceno@correo.uis.edu.co"><i class='bx bx-mail-send'></i></a>

        </div>

    </div>
</div>
