<h1>Recurso Escolar</h1>
<p>Explora los temas</p>
<ul class="listOfLinks">
    <li><a href="./content.html?/construccion">Matemática elemental</a></li>
    <li><a href="./content.html?/construccion">Vectores</a></li>
    <li><a href="./content.html?/construccion">Movimiento Rectilineo</a></li>
    <li><a href="./content.html?/construccion">Movimiento Circular</a></li>
    <li><a href="./content.html?/construccion">Movimiento Periodico</a></li>
    <li><a href="./content.html?/construccion">Caida Libre</a></li>
    <li><a href="./content.html?/construccion">Newton</a></li>
    <li><a href="./content.html?/construccion">Fuerza Elástica</a></li>
    <li><a href="./content.html?/construccion">Ondas</a></li>
    <li><a href="./content.html?/construccion">Óptica</a></li>
    <li><a href="./content.html?/recursoEscolar/gravitacion">Gravitación</a></li>
    <li><a href="./content.html?/construccion">Electromagnetismo</a></li>
    <li><a href="./content.html?/construccion">Relatividad</a></li>
</ul>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, tenetur fugiat. Officia voluptatibus illo enim blanditiis? Itaque ad est omnis. Itaque dolorum perspiciatis obcaecati minima iure accusantium minus nemo modi.