<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fisica Universitaria | PhysicsProject</title>
    <meta name="description" content="Contenido necesario para una formación universitaria en física">
</head>
<body>
    <h1>Recurso universitario</h1>
    <p>Explora los temas</p>
    <ul class="listOfLinks">
        <!-- 
            <li><a href="./content.html?/construccion">Precalculo</a></li>
            <li><a href="./content.html?/construccion">Cálculo</a></li>
            <li><a href="./content.html?/construccion">Cálculo Integral</a></li>
            <li><a href="./content.html?/construccion">Cálculo Diferencial</a></li>
            <li><a href="./content.html?/construccion">Algebra Lineal</a></li>-->
            <li><a href="./content.html?/recursoUniversitario/metodosMatematicosII">Métodos Matemáticos II</a></li>
            <!-- <li><a href="./content.html?/construccion">Métodos Numéricos</a></li>
            <li><a href="./content.html?/construccion">Mecánica</a></li>
            <li><a href="./content.html?/construccion">Ondas y pepitas</a></li>
            <li><a href="./content.html?/construccion">Termodinámica</a></li>
            <li><a href="./content.html?/construccion">Electromagnetismo</a></li>-->
            <li><a href="./content.html?/recursoUniversitario/mecanicaClasica">Mecánica Clásica</a></li>
            <!-- <li><a href="./content.html?/construccion">Física Moderna</a></li>-->
            <li><a href="./content.html?/recursoUniversitario/mecanicaCuantica">Mecánica Cuántica</a></li>
            <!-- <li><a href="./content.html?/construccion">Estado Sólido</a></li>-->
    </ul>
    <p>Poco a poco vamos a ir introduciendo más contenido, ten aciencia.</p>
</body>
</html>