<h1>Recurso universitario</h1>
<p>Explora los temas</p>
<ul class="listOfLinks">
    <li><a href="./content.html?/construccion">Precalculo</a></li>
    <li><a href="./content.html?/construccion">Cálculo</a></li>
    <li><a href="./content.html?/construccion">Cálculo Integral</a></li>
    <li><a href="./content.html?/construccion">Cálculo Diferencial</a></li>
    <li><a href="./content.html?/construccion">Algebra Lineal</a></li>
    <li><a href="./content.html?/construccion">Métodos Matemáticos</a></li>
    <li><a href="./content.html?/construccion">Métodos Numéricos</a></li>
    <li><a href="./content.html?/construccion">Mecánica</a></li>
    <li><a href="./content.html?/construccion">Ondas y pepitas</a></li>
    <li><a href="./content.html?/construccion">Termodinámica</a></li>
    <li><a href="./content.html?/construccion">Electromagnetismo</a></li>
    <li><a href="./content.html?/construccion">Mecánica Clásica</a></li>
    <li><a href="./content.html?/construccion">Física Moderna</a></li>
    <li><a href="./content.html?/construccion">Mecánica Cuántica</a></li>
    <li><a href="./content.html?/construccion">Estado Sólido</a></li>
</ul>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, tenetur fugiat. Officia voluptatibus illo enim blanditiis? Itaque ad est omnis. Itaque dolorum perspiciatis obcaecati minima iure accusantium minus nemo modi.